---
name: CICD MS Deploy
run-name: MS deploy

on:
  workflow_dispatch:

  push:
    branches:
      - 'fix/*'
      - 'feat/*'
      - 'feature/*'
    paths-ignore:
      - 'docs/**'
      - '.github/**'
      - '.gitignore'
      - 'LICENSE'
      - 'README.md'

jobs:
  setup-env:
    environment: dev
    runs-on: ubuntu-latest
    outputs:
      ENVIRONMENT: dev

    steps:
      - name: echo
        run: |
          echo "ENVIRONMENT=${{ vars.ENVIRONMENT }}"


  build-and-push:
    needs: setup-env
    uses: edelux/cicd-build-push/.github/workflows/build_push.yaml@main
    with:
      ENVIRONMENT: ${{ needs.setup-env.outputs.ENVIRONMENT }}

    permissions:
      id-token: write
      contents: read


  deploy-update-task:
    needs: build-and-push
    uses: edelux/cicd-build-push/.github/workflows/ecs_task_update.yaml@main
    with:
      ENVIRONMENT: ${{ needs.setup-env.outputs.ENVIRONMENT }}

    permissions:
      id-token: write
      contents: read
...
